<style scoped>
.box {
  display: flex;
  height: 77.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.user_box {
  position: relative;
  margin: 15px;
  width: 36%;
  min-width: 500px;
  height: 37vh;
  background-color: #242f42;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 30px;
}

.image_box {
  position: relative;
  margin-top: 30px;
  margin-left: 50px;
  width: 20%;
  height: 30%;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.image_box span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 600;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.user_top {
  margin-top: -100px;
  margin-left: 200px;
  width: 57%;
  height: 100px;
  right: 50px;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
}

.user_top p {
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 15px;
  color: rgb(81, 81, 81);
}

.demo-border {
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  width: 90%;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  line-height: 33px;
}
</style>

<template>
  <div class="box" v-loading="loading" element-loading-text="Loading...">
    <div class="user_box">
      <div class="image_box" v-on:mousemove="imagemove" v-on:mouseout="imageout">
        <img class="image" :src="list.image" alt="" />
        <span v-if="imgbtndisplay">点击更换</span>
      </div>
      <div class="user_top">
        <p>账户：{{ list.username }}</p>
        <p>昵称：{{ list.name }}</p>
        <p>性别：{{ list.sex }}</p>
      </div>
      <div class="demo-border">
        <p>电话：{{ list.phone }}</p>
        <p>邮箱：{{ list.email }}</p>
      </div>
      <el-button
        type="primary"
        @click="visible = true"
        style="width: 90%; margin-top: 30px; margin-left: 5%"
        >更改信息</el-button
      >
    </div>
  </div>

  <el-drawer v-model="visible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h1 :id="titleId" :class="titleClass">更改用户信息</h1>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form
      ref="ruleFormRef"
      :model="ruleForm"
      status-icon
      :rules="rules"
      label-width="120px"
      label-position="top"
      class="demo-ruleForm"
    >
      <el-form-item label="name:" prop="name">
        <el-input v-model="ruleForm.name" autocomplete="off" />
      </el-form-item>
      <el-form-item label="sex:" prop="sex">
        <el-input v-model="ruleForm.sex" autocomplete="off" />
      </el-form-item>
      <el-form-item label="phone:" prop="phone">
        <el-input v-model.number="ruleForm.phone" />
      </el-form-item>
      <el-form-item label="email:" prop="email">
        <el-input v-model="ruleForm.email" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">更改</el-button>
      </el-form-item>
    </el-form>
  </el-drawer>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from 'vue'
import { userlist, changeuser } from '@/api/userabout'
import { ElButton, ElDrawer } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'
import baseMessage from '@/components/baseMessage'

const visible = ref(false)
const imgbtndisplay = ref(false)
const loading = ref(false)

const list = ref<any>([])
const ruleForm = ref<any>({})

const rules = reactive({
  name: [{ required: true, message: 'Please input username', trigger: 'blur' }],
  phone: [{ required: true, message: 'Please input password', trigger: 'blur' }],
  sex: [{ required: true, message: 'Please input password', trigger: 'blur' }],
  email: [{ required: true, message: 'Please input password', trigger: 'blur' }]
})

const imagemove = () => {
  imgbtndisplay.value = true
}
const imageout = () => {
  imgbtndisplay.value = false
}

const getlist = async () => {
  loading.value = true
  const a = await userlist()
  list.value = JSON.parse(JSON.stringify(a.data))
  ruleForm.value = JSON.parse(JSON.stringify(a.data))
  loading.value = false
}

const submitForm = async () => {
  const { data } = await changeuser(ruleForm.value)
  if (data.status == 200) {
    getlist()
    visible.value = false
  }
  baseMessage(data.msg, 'success')
}

onMounted(() => {
  getlist()
})
</script>
