<script setup lang="ts">
import { ref } from 'vue'
import { useRouter, RouterView } from 'vue-router'
import topview from '@/components/topView.vue'
import bottomView from '@/components/bottomView.vue'
import { routes } from '../router/index'

const menuItems = routes[0].children
const isCollapse = ref(false)
const router = useRouter()

const goTo = (path: string) => {
  router.push(path)
}
</script>

<template>
  <div class="common-layout">
    <el-container>
      <el-header>
        <topview />
      </el-header>
      <el-container>
        <el-aside>
          <div class="radio-group-container-box">
            <el-radio-group v-model="isCollapse" class="radio-group-container">
              <el-radio-button :label="true" v-if="!isCollapse">
                <el-icon :size="33" color="#fff">
                  <Fold />
                </el-icon>
              </el-radio-button>
              <el-radio-button :label="false" v-else>
                <el-icon :size="33" color="#fff">
                  <Expand />
                </el-icon>
              </el-radio-button>
            </el-radio-group>
          </div>
          <el-menu
            default-active="1"
            :collapse="isCollapse"
            text-color="#fff"
            class="el-menu-vertical-demo"
            background-color="#324157"
          >
            <el-menu-item v-for="item in menuItems" :key="item.name" @click="goTo(item.path)">
              <el-icon>
                <component :is="item.meta?.icon" />
              </el-icon>
              <template #title>{{ item.meta?.title }}</template>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-container class="a">
          <el-main>
            <RouterView class="main_picture" />
          </el-main>
          <el-footer style="background-color: #242f42">
            <bottomView />
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<style scoped>
.common-layout {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.el-footer {
  height: 8vh;
}

.el-header {
  height: 10vh;
}

.el-aside {
  margin-top: -10vh;
  display: inline-block;
  width: fit-content;
  background-color: #324157;
}

.a {
  height: 90vh;
}

.radio-group-container-box {
  width: 100%;
  height: 10vh;
  background-color: #242f42;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 13vw;
}

.radio-group-container {
  height: 10vh;
}

.el-radio-button >>> .el-radio-button__inner {
  margin-top: 20px;
  width: 100%;
  height: 10vh;
  background-color: #242f42;
  border: none;
}

.el-main {
  background-color: aliceblue;
}

.main_picture {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
</style>
