<style scoped>
.conitennt_top {
  position: relative;
  width: 100%;
  height: 35px;
}

.contentbox {
  height: 72vh;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.conitennt_top .btn {
  position: absolute;
  left: 10px;
}

.conitennt_top .from {
  width: 30%;
  min-width: 300px;
  position: absolute;
  right: 0vw;
}

.conitennt_top .from .el-input {
  width: 65%;
}
.conitennt_top .from .el-button {
  margin-left: 10%;
}
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  width: 200px;
}

.example-pagination-block + .example-pagination-block {
  margin-top: 10px;
}
.example-pagination-block .example-demonstration {
  margin-bottom: 16px;
}
</style>
<template>
  <div class="conitennt_top">
    <el-form class="from">
      <el-input
        v-model="from.questionmd"
        placeholder="输入要查询的问题简介"
        clearable
        @clear="getlist"
      />
      <el-button type="primary" @click="getlist">
        <el-icon><Search /></el-icon>查询
      </el-button>
    </el-form>
  </div>

  <div class="contentbox" v-loading="loading" element-loading-text="Loading...">
    <el-table
      :data="formlist"
      :row-key="getRowKey"
      style="width: 100%"
      border
      class="centered-table"
    >
      <el-table-column align="center" prop="questionmd" label="问题简介" width="250px" />
      <el-table-column align="center" prop="Resolutiondetails" label="解决详情">
        <template #default="{ row }">
          <div style="cursor: pointer" @click="getrow(row)">
            <el-tooltip class="box-item" effect="dark" content="点击编辑" placement="top">
              <span :style="row.Resolutiondetails === null ? 'color:red' : 'color:green'">
                {{ row.Resolutiondetails === null ? '暂无解决详情' : row.Resolutiondetails }}
              </span>
            </el-tooltip>
          </div>
        </template>
      </el-table-column>
      <el-table-column width="180" label="操作" align="center">
        <template #default="{ row }">
          <el-button
            v-if="row.solve === '已解决'"
            :disabled="true"
            type="primary"
            plain
            @click="complete(row)"
          >
            已完成
          </el-button>
          <el-button v-else type="primary" plain @click="complete(row)">
            <el-icon><Finished /></el-icon>完成
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-drawer v-model="visible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">编辑</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="drawerfrom" label-position="top">
      <el-form-item label="解决详情" prop="Resolutiondetails">
        <el-input
          v-model="drawerfrom.Resolutiondetails"
          placeholder="输入解决详情"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="changecontenntlist">更改</el-button>
    </el-form>
  </el-drawer>
  <el-dialog v-model="dialogVisible" title="Tips" width="30%" draggable>
    <span>It's a draggable Dialog</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false"> Confirm </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { editquestion, questlist, completequestion } from '@/api/question'
import { ref, onMounted } from 'vue'
import baseMessage from '@/components/baseMessage'

import { ElButton, ElDrawer } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'
const loading = ref(false)
const dialogVisible = ref(false)
const visible = ref(false)
const from = ref<any>({
  contentname: ''
})
const formlist = ref<any>([])
const drawerfrom = ref<any>([])
const contentid = ref<any>(0)

const getrow = (row: any) => {
  visible.value = true
  drawerfrom.value = JSON.parse(JSON.stringify(row))
  contentid.value = drawerfrom.value.id
}

const getlist = async () => {
  loading.value = true
  console.log(from.value.contentname)
  const { data } = await questlist(from.value)
  formlist.value = data
  loading.value = false
}

const getRowKey = (row: any) => {
  return row.id
}

const changecontenntlist = async () => {
  const { data } = await editquestion(drawerfrom.value)
  if (data.status == 200) {
    getlist()
    baseMessage(data.msg, 'success')
    visible.value = false
  } else if (data.status == 6699) {
    visible.value = false
    baseMessage(data.msg, 'warning')
  }
}

const complete = async (row: any) => {
  const { data } = await completequestion(row.id)
  if (data.status === 200) {
    baseMessage(data.msg, 'success')
  } else if (data.status === 202) {
    baseMessage(data.msg, 'warning')
  }
  getlist()
}

onMounted(() => {
  getlist()
})
</script>
