<style scoped>
.contentbox {
  height: 72vh;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.conitennt_top {
  position: relative;
  width: 100%;
  height: 35px;
}

.conitennt_top .btn {
  position: absolute;
  left: 10px;
}

.conitennt_top .from {
  width: 30%;
  min-width: 300px;
  position: absolute;
  right: 0vw;
}

.conitennt_top .from .el-input {
  width: 65%;
}
.conitennt_top .from .el-button {
  margin-left: 10%;
}
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  width: 200px;
}

.example-pagination-block + .example-pagination-block {
  margin-top: 10px;
}
.example-pagination-block .example-demonstration {
  margin-bottom: 16px;
}
</style>
<template>
  <div class="conitennt_top">
    <el-button class="btn" type="primary" @click="addvisible = true">
      <el-icon><Plus /></el-icon>添加
    </el-button>
    <el-form class="from">
      <el-input
        v-model="from.contentname"
        placeholder="Please Input Content Name"
        clearable
        @clear="getlist"
      />
      <el-button type="primary" @click="getlist">
        <el-icon><Search /></el-icon>查询
      </el-button>
    </el-form>
  </div>

  <div class="contentbox" v-loading="loading" element-loading-text="Loading...">
    <el-table
      :data="formlist"
      :row-key="getRowKey"
      style="width: 100%"
      border
      class="centered-table"
    >
      <el-table-column align="center" prop="time" label="添加时间" width="150" />
      <el-table-column align="center" prop="knowledgename" label="知识点名称" width="180" />
      <el-table-column align="center" prop="knowledgedetails" label="知识点详情" />
      <el-table-column align="center" prop="knowledgerelated" label="知识点相关链接" width="250" />

      <el-table-column width="200" label="操作" align="center">
        <template #default="{ row }">
          <el-button type="primary" plain @click="getrow(row)">
            <el-icon><EditPen /></el-icon>编辑
          </el-button>
          <el-button type="danger" plain @click="deletecontent(row)">
            <el-icon><DeleteFilled /></el-icon>删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-drawer v-model="visible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">编辑</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="drawerfrom" label-position="top">
      <el-form-item label="知识点名称" prop="knowledgename">
        <el-input
          v-model="drawerfrom.knowledgename"
          placeholder="请输入知识点名称"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="知识点详情" prop="knowledgedetails">
        <el-input
          v-model="drawerfrom.knowledgedetails"
          placeholder="请输入知识点详情"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="知识点相关链接" prop="knowledgerelated">
        <el-input
          v-model="drawerfrom.knowledgerelated"
          placeholder="请输入知识点相关链接"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="addcontenntlist(false)">更改</el-button>
    </el-form>
  </el-drawer>

  <el-drawer v-model="addvisible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">添加任务量</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="adddrawerfrom" label-position="top">
      <el-form-item label="知识点名称" prop="knowledgename">
        <el-input
          v-model="adddrawerfrom.knowledgename"
          placeholder="请输入知识点名称"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="知识点详情" prop="knowledgedetails">
        <el-input
          v-model="adddrawerfrom.knowledgedetails"
          placeholder="请输入知识点详情"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="知识点相关链接" prop="knowledgerelated">
        <el-input
          v-model="adddrawerfrom.knowledgerelated"
          placeholder="请输入知识点相关链接"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="addcontenntlist(true)">添加</el-button>
    </el-form>
  </el-drawer>
</template>

<script setup lang="ts">
import { knowledgelist, addknowledge, deletecknowledge } from '@/api/knowledge'
import { ref, onMounted, markRaw } from 'vue'
import baseMessage from '@/components/baseMessage'

import { ElButton, ElDrawer, ElMessage, ElMessageBox } from 'element-plus'
import { CircleCloseFilled, Delete } from '@element-plus/icons-vue'
const visible = ref(false)
const addvisible = ref(false)
const from = ref<any>({
  contentname: ''
})
const formlist = ref<any>([])
const drawerfrom = ref<any>([])
const adddrawerfrom = ref<any>({})
const contentid = ref<any>(0)
const loading = ref<any>(false)

const getrow = (row: any) => {
  visible.value = true
  drawerfrom.value = JSON.parse(JSON.stringify(row))
  contentid.value = drawerfrom.value.id
}

const deletecontent = async (row: any) => {
  ElMessageBox.confirm('确定删除 “' + row.knowledgename + '” 吗？', '确认删除', {
    confirmButtonText: 'OK',
    cancelButtonText: 'Cancel',
    type: 'warning',
    icon: markRaw(Delete),
    draggable: true
  })
    .then(async () => {
      const a = await deletecknowledge(row.id)
      baseMessage(a.data.msg, 'success')
      getlist()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '删除 “' + row.knowledgename + '” 已取消'
      })
    })
}

const getlist = async () => {
  loading.value = true
  console.log(from.value.contentname)
  const { data } = await knowledgelist(from.value)
  formlist.value = data
  loading.value = false
}

const getRowKey = (row: any) => {
  return row.id
}

const addcontenntlist = async (add: any) => {
  if (add) {
    const { data } = await addknowledge(adddrawerfrom.value)
    adddrawerfrom.value = {}
    getlist()
    baseMessage(data.msg, 'success')
    addvisible.value = false
  } else {
    const { data } = await addknowledge(drawerfrom.value)
    if (data.status == 200) {
      getlist()
      baseMessage(data.msg, 'success')
    } else if (data.status == 202) {
      baseMessage(data.msg, 'warning')
    }
    visible.value = false
  }
}

onMounted(() => {
  getlist()
})
</script>
