<style scoped>
.box {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/imgs/login/login_bg.jpg');
  background-size: cover;
}

.common-layout {
  position: absolute;
  top: 30%;
  right: 5%;
  min-width: 600px;
  height: 40%;
  background-color: rgba(224, 226, 235, 0.6);
  border-radius: 10px;
  display: flex;
}

.custom-aside {
  background-image: url('../assets/imgs/login/login_bg1.jpg');
  background-size: cover;
  border-radius: 10px;
}

.custom-main {
  display: inline-block;
}

.demo-ruleForm {
  margin-top: 50px;
}
h1 {
  font-size: 30px;
  color: #409eff;
}
</style>

<template>
  <el-container class="box">
    <div class="common-layout">
      <el-container>
        <el-aside width="200px" class="custom-aside"> </el-aside>
        <el-main class="custom-main">
          <h1>欢迎来到学习让你快乐</h1>
          <el-form
            :model="ruleForm"
            :rules="rules"
            label-width="120px"
            class="demo-ruleForm"
            :size="formSize"
            status-icon
            label-position="top"
            hide-required-asterisk="true"
          >
            <el-form-item label="账号" prop="name">
              <el-input placeholder="username" v-model="ruleForm.name" />
            </el-form-item>

            <el-form-item label="密码" prop="password">
              <el-input placeholder="password" type="password" v-model="ruleForm.password" />
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                :disabled="!isFormValid"
                @click="onSubmit"
                style="width: 100%; margin-top: 10px"
                >登录</el-button
              >
            </el-form-item>
          </el-form>
        </el-main>
      </el-container>
    </div>
  </el-container>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from 'vue'
import { denglu } from '@/api/denglu'
import router from '@/router'
import baseMessage from '@/components/baseMessage'

const rules = reactive({
  name: [{ required: true, message: 'Please input username', trigger: 'blur' }],
  password: [{ required: true, message: 'Please input password', trigger: 'blur' }]
})
const formSize = ref('default')

const ruleForm = reactive<any>({
  name: '',
  password: ''
})

const isFormValid = computed(() => {
  return ruleForm.name !== '' && ruleForm.password !== ''
})

const onSubmit = async () => {
  const { data } = await denglu(ruleForm)
  console.log(data)

  if (data.status === 200) {
    localStorage.setItem('token', data.token)
    localStorage.setItem('user', JSON.stringify(data.response))
    router.push('/about')
    baseMessage(data.msg, 'success')
  } else {
    baseMessage(data.msg, 'success')
  }
}
</script>
