<style scoped>
/* .centered-table {
  margin-top: 20px;
} */

.custom-label {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #dc0909;
}

.contentbox {
  height: 72vh;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.conitennt_top {
  position: relative;
  width: 100%;
  height: 35px;
}

.conitennt_top .btn {
  position: absolute;
  left: 10px;
}

.conitennt_top .from {
  width: 30%;
  min-width: 300px;
  position: absolute;
  right: 0vw;
}

.conitennt_top .from .el-input {
  width: 65%;
}
.conitennt_top .from .el-button {
  margin-left: 10%;
}
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  width: 200px;
}

.example-pagination-block + .example-pagination-block {
  margin-top: 10px;
}
.example-pagination-block .example-demonstration {
  margin-bottom: 16px;
}
</style>
<template>
  <div class="conitennt_top">
    <el-button class="btn" type="primary" @click="addvisible = true">
      <el-icon><Plus /></el-icon>添加
    </el-button>
    <el-form class="from">
      <el-input
        v-model="from.contentname"
        placeholder="输入要查询的任务名称"
        clearable
        @clear="getlist"
      />
      <el-button type="primary" @click="getlist">
        <el-icon><Search /></el-icon>查询
      </el-button>
    </el-form>
  </div>

  <div class="contentbox" v-loading="loading" element-loading-text="Loading...">
    <el-table
      :data="formlist"
      :row-key="getRowKey"
      style="width: 100%"
      border
      class="centered-table"
    >
      <el-table-column
        align="center"
        prop="data"
        label="创建时间"
        width="150"
        class="custom-label"
      />
      <el-table-column align="center" prop="contentname" label="任务名称" width="180" />
      <el-table-column align="center" prop="contentparticulars" label="任务详情" />
      <el-table-column align="center" prop="complete" label="是否完成" width="120">
        <template v-slot="scope">
          <span :style="{ color: scope.row.complete === '完成' ? 'green' : '#F56C6C' }">{{
            scope.row.complete
          }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="completetime" label="完成时间" width="180">
        <template v-slot="scope">
          <span :style="{ color: scope.row.completetime === '无完成时间' ? '#F56C6C' : 'green' }">{{
            scope.row.completetime
          }}</span>
        </template>
      </el-table-column>

      <el-table-column width="200" label="操作" align="center">
        <template #default="{ row }">
          <el-button type="primary" plain @click="getrow(row)">
            <el-icon><EditPen /></el-icon>编辑
          </el-button>
          <el-button type="danger" plain @click="deletecontent(row)">
            <el-icon><DeleteFilled /></el-icon>删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-drawer v-model="visible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">编辑</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="drawerfrom" label-position="top">
      <el-form-item label="创建时间" prop="data">
        <el-date-picker
          v-model="drawerfrom.data"
          type="date"
          placeholder="选择日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="任务名称" prop="contentname">
        <el-input
          v-model="drawerfrom.contentname"
          placeholder="输入任务名称"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="任务详情" prop="contentparticulars">
        <el-input
          v-model="drawerfrom.contentparticulars"
          placeholder="输入任务详情"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="changecontenntlist">更改</el-button>
    </el-form>
  </el-drawer>

  <el-drawer v-model="addvisible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">添加任务量</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="adddrawerfrom" label-position="top">
      <el-form-item label="创建时间" prop="data">
        <el-date-picker
          v-model="adddrawerfrom.data"
          type="date"
          placeholder="选择日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="任务名称" prop="contentname">
        <el-input
          v-model="adddrawerfrom.contentname"
          placeholder="输入任务名称"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-form-item label="任务详情" prop="contentparticulars">
        <el-input
          v-model="adddrawerfrom.contentparticulars"
          placeholder="输入任务详情"
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="addcontenntlist">添加</el-button>
    </el-form>
  </el-drawer>
</template>

<script setup lang="ts">
import { contentlist, changecontent, addcontent, deleteccontent } from '@/api/task'
import { ref, onMounted, markRaw } from 'vue'
import baseMessage from '@/components/baseMessage'
import { ElMessage, ElMessageBox } from 'element-plus'
import { ElButton, ElDrawer } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'
import { Delete } from '@element-plus/icons-vue'
const visible = ref(false)
const addvisible = ref(false)
const from = ref<any>({
  contentname: ''
})
const formlist = ref<any>([])
const drawerfrom = ref<any>([])
const adddrawerfrom = ref<any>({})
const contentid = ref<any>(0)
let oldformlist_data = ref<any>(0)
const loading = ref<any>(false)

const getrow = (row: any) => {
  visible.value = true
  drawerfrom.value = JSON.parse(JSON.stringify(row))
  contentid.value = drawerfrom.value.id
}

const deletecontent = async (row: any) => {
  ElMessageBox.confirm('确定删除 “' + row.contentname + '” 吗？', '确认删除', {
    confirmButtonText: 'OK',
    cancelButtonText: 'Cancel',
    type: 'warning',
    icon: markRaw(Delete),
    draggable: true
  })
    .then(async () => {
      const a = await deleteccontent(row.id)
      baseMessage(a.data.msg, 'success')
      getlist()
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '删除 “' + row.contentname + '” 已取消'
      })
    })
}

const getlist = async () => {
  loading.value = true

  const { data } = await contentlist(from.value)
  formlist.value = data

  for (let i = 0; i < formlist.value.length; i++) {
    if (formlist.value[i].complete === null) {
      formlist.value[i].complete = '未完成'
    }
    if (formlist.value[i].completetime === null) {
      formlist.value[i].completetime = '无完成时间'
    }
  }
  loading.value = false
}

const getRowKey = (row: any) => {
  return row.id
}

const changecontenntlist = async () => {
  for (let i = 0; i < formlist.value.length; i++) {
    if (formlist.value[i].id === drawerfrom.value.id) {
      oldformlist_data.value = JSON.parse(JSON.stringify(formlist.value[i].data))
    }
  }
  console.log(drawerfrom.value.data)

  const nowData = drawerfrom.value.data
  const isture = oldformlist_data.value === nowData
  if (!isture) {
    const newData = new Date(nowData)
    newData.setDate(newData.getDate() + 1) // 增加一天
    drawerfrom.value.data = newData.toISOString().split('T')[0]
  }
  const { data } = await changecontent(drawerfrom.value)
  if (data.status == 200) {
    getlist()
    baseMessage(data.msg, 'success')
    visible.value = false
  } else if (data.status == 6699) {
    visible.value = false
    baseMessage(data.msg, 'warning')
  }
}

const addcontenntlist = async () => {
  const nowData = new Date(adddrawerfrom.value.data)
  nowData.setDate(nowData.getDate() + 1) // 增加一天
  const formattedDate = nowData.toISOString().split('T')[0]
  adddrawerfrom.value.data = formattedDate

  const { data } = await addcontent(adddrawerfrom.value)
  adddrawerfrom.value = {}
  getlist()
  baseMessage(data.msg, 'success')
  addvisible.value = false
}

onMounted(() => {
  getlist()
})
</script>
