<style scoped>
.contentbox {
  height: 72vh;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.conitennt_top {
  position: relative;
  width: 100%;
  height: 35px;
}

.conitennt_top .btn {
  position: absolute;
  left: 10px;
}

.conitennt_top .from {
  width: 30%;
  min-width: 300px;
  position: absolute;
  right: 0vw;
}

.conitennt_top .from .el-input {
  width: 65%;
}
.conitennt_top .from .el-button {
  margin-left: 10%;
}
.demo-progress .el-progress--line {
  cursor: pointer;
  width: 200px;
}

.example-pagination-block + .example-pagination-block {
  margin-top: 10px;
}
.example-pagination-block .example-demonstration {
  margin-bottom: 16px;
}
</style>
<template>
  <div class="conitennt_top">
    <el-form class="from">
      <el-input
        v-model="from.contentname"
        placeholder="输入要查询的任务名称"
        clearable
        @clear="getlist"
      />
      <el-button type="primary" @click="getlist">
        <el-icon><Search /></el-icon>查询
      </el-button>
    </el-form>
  </div>

  <div class="contentbox" v-loading="loading" element-loading-text="Loading...">
    <el-table
      :data="formlist"
      :row-key="getRowKey"
      style="width: 100%"
      border
      class="centered-table"
    >
      <el-table-column align="center" prop="contentname" label="任务名称" width="180" />
      <el-table-column align="center" prop="contentparticulars" label="任务详情" />
      <el-table-column align="center" prop="contentcompleteness" label="任务完成度" width="250">
        <template #default="{ row }">
          <el-tooltip placement="top">
            <template #content
              >点击编辑完成度 <br />目前完成度为{{ row.contentcompleteness }}%
            </template>
            <div class="demo-progress">
              <button
                @click="getrow(row)"
                :disabled="row.complete == '完成'"
                style="background-color: #ffffff; border: none"
              >
                <el-progress
                  :text-inside="true"
                  :stroke-width="20"
                  :percentage="row.contentcompleteness"
                />
              </button>
            </div>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column width="150" label="操作" align="center">
        <template #default="{ row }">
          <el-button
            v-if="row.complete === '完成'"
            :disabled="true"
            type="primary"
            plain
            @click="complete(row)"
          >
            已完成
          </el-button>
          <el-button v-else type="primary" plain @click="complete(row)">
            <el-icon><Finished /></el-icon>完成
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-drawer v-model="visible" :show-close="false">
    <template #header="{ close, titleId, titleClass }">
      <h4 :id="titleId" :class="titleClass">编辑</h4>
      <el-button type="danger" @click="close">
        <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
        关闭
      </el-button>
    </template>
    <el-form :model="drawerfrom" label-position="top">
      <el-form-item label="任务完成度" prop="contentcompleteness">
        <el-input
          v-model="drawerfrom.contentcompleteness"
          placeholder=""
          size="normal"
          clearable
        ></el-input>
      </el-form-item>
      <el-button type="primary" style="width: 100%" @click="changecontenntlist">保存更改</el-button>
    </el-form>
  </el-drawer>
</template>

<script setup lang="ts">
import { contentlist, changecontent, completetask } from '@/api/task'
import { ref, onMounted } from 'vue'
import baseMessage from '@/components/baseMessage'

import { ElButton, ElDrawer } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'
const visible = ref(false)
const from = ref<any>({
  contentname: ''
})
const formlist = ref<any>([])
const drawerfrom = ref<any>([])
const contentid = ref<any>(0)
let oldformlist_data = ref<any>(0)
const loading = ref<any>(false)

const getrow = (row: any) => {
  visible.value = true
  drawerfrom.value = JSON.parse(JSON.stringify(row))
  contentid.value = drawerfrom.value.id
}

const complete = async (row: any) => {
  const a = await completetask(row.id)
  console.log(a.data)
  if (a.data.status === 200) {
    baseMessage(a.data.msg, 'success')
  } else {
    baseMessage(a.data.msg, 'error')
  }
  getlist()
}

const getlist = async () => {
  loading.value = true
  console.log(from.value.contentname)
  const { data } = await contentlist(from.value)
  formlist.value = data
  loading.value = false
}

const getRowKey = (row: any) => {
  return row.id
}

const changecontenntlist = async () => {
  for (let i = 0; i < formlist.value.length; i++) {
    if (formlist.value[i].id === drawerfrom.value.id) {
      oldformlist_data.value = JSON.parse(JSON.stringify(formlist.value[i].data))
    }
  }
  console.log(drawerfrom.value.data)

  const nowData = drawerfrom.value.data
  const isture = oldformlist_data.value === nowData
  if (!isture) {
    const newData = new Date(nowData)
    newData.setDate(newData.getDate() + 1) // 增加一天
    drawerfrom.value.data = newData.toISOString().split('T')[0]
  }
  const { data } = await changecontent(drawerfrom.value)
  if (data.status == 200) {
    getlist()
    baseMessage(data.msg, 'success')
    visible.value = false
  } else if (data.status == 6699) {
    visible.value = false
    baseMessage(data.msg, 'warning')
  }
}

onMounted(() => {
  getlist()
})
</script>
