<style scoped>
.top_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #242f42;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

.el-dropdown-link {
  font-size: 15px;
  color: white;
  border: 1px #242f42 solid;
}

.hello_user {
  margin-left: 100px;
  font-size: 38px;
  color: white;
  line-height: 10vh;
}
</style>

<template>
  <div class="top_box">
    <span class="hello_user">Hello {{ userfrom.name }} !</span>
    <div class="list">
      <el-dropdown>
        <span class="el-dropdown-link">
          更多<el-icon class="el-icon--right"><arrow-down /></el-icon>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item @click="overlogin" :icon="SwitchButton">退出登录</el-dropdown-item>
            <el-dropdown-item :icon="Avatar" @click="dialog = true">
              修改账户名及密码
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>

  <el-drawer
    ref="drawerRef"
    v-model="dialog"
    title="更改账户信息"
    direction="ltr"
    class="demo-drawer"
  >
    <div class="demo-drawer__content">
      <el-form
        ref="formRef"
        :model="newUserfrom"
        label-position="top"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item
          label="新账户名"
          prop="username"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <el-input v-model="newUserfrom.username" type="text" />
        </el-form-item>
        <el-form-item
          label="新密码"
          prop="password1"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <el-input v-model="newUserfrom.password1" type="password" />
        </el-form-item>
        <el-form-item
          label="确认密码"
          prop="password2"
          :rules="[
            { required: true, message: '不能为空' },
            { validator: validatePassword2, trigger: 'blur' }
          ]"
        >
          <el-input v-model="newUserfrom.password2" type="password" />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            :disabled="isButtonDisabled"
            style="width: 100%"
            @click="changeupwd"
            >更改</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </el-drawer>
</template>

<script setup lang="ts">
import { SwitchButton, Avatar } from '@element-plus/icons-vue'
import router from '../router'
import { ref, onMounted, computed, reactive } from 'vue'
import baseMessage from '@/components/baseMessage'
import { userlist, changeuserpassword } from '@/api/userabout'
const dialog = ref<any>(false)

const newUserfrom = reactive<any>({
  username: '',
  password1: '',
  password2: ''
})
const userfrom = ref<any>({})

const isButtonDisabled = computed(() => {
  return (
    newUserfrom.username === '' ||
    newUserfrom.password1 === '' ||
    newUserfrom.password2 === '' ||
    newUserfrom.password1 !== newUserfrom.password2
  )
})

const changeupwd = async () => {
  const { data } = await changeuserpassword(newUserfrom)
  if (data.status === 200) {
    router.push('/login')
    localStorage.removeItem('token')
    baseMessage('更改成功，请重新登陆', 'success')
  } else {
    baseMessage(data.msg, 'erro')
  }
}

const validatePassword2 = (rule: any, value: any, callback: any) => {
  if (value !== newUserfrom.password1) {
    callback(new Error('确认密码与新密码不一致'))
  } else {
    callback()
  }
}

const overlogin = () => {
  localStorage.removeItem('token')
  baseMessage('成功退出登录', 'success')
  router.push('/login')
}

const getlist = async () => {
  const a = await userlist()
  userfrom.value = a.data
  newUserfrom.value = JSON.parse(JSON.stringify(a.data))
}

onMounted(() => {
  getlist()
})
</script>
